<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.lfs.OMG"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Crossy Code</name>

  <description>
      Crossy road but with some code :)
  </description>

  <author href="ylfs.blogspot.com" email="eqaanonline@gmail.com">
      LFS
  </author>
     <icon src="icon.png" />
	 <splash src="icon.png" />
</widget>